/* Global Styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
  }
  
  a {
    color: #FFA500;
    text-decoration: none;
  }
  
  h1, h2, h3 {
    color: #FFA500;
  }
  
  /* Header Styles */
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-bottom: 1px solid #FFA500;
  }
  
  .logo img {
    height: 50px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    font-size: 18px;
  }
  
  /* Main Content Styles */
  
  main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h1 {
    font-size: 48px;
  }  


footer {
  background-color: orange;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

footer h2 {
  margin-top: 0;
  font-size: 1.2rem;
  color: #fff;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

footer ul li {
  margin: 0 10px;
}

footer ul li:first-child {
  margin-left: 0;
}

footer ul li:last-child {
  margin-right: 0;
}

footer ul li i {
  margin-right: 5px;
}

footer p {
  margin: 20px 0 0;
  font-size: 0.8rem;
}
