<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/home.css"> 
    <title>About Us</title>
</head>
<body>
    <header>
		<nav>
			<ul style="justify-content: flex-end;">
			  <li><a href="/home">Home</a></li>
			  <li><a href="/leadz">LeadZ</a></li>
			  <li><a href="/planz">PlanZ</a></li>
			  <li><a href="/frienz">FrienZ</a></li>
			  <li><a href="/about">About</a></li>
			</ul>
		  </nav>
	</header>
    <main>
        <br></br>
		<h1>About Us</h1>
        <img src="image.jpg" alt="Description of the image"  align="left">
		<p align="right"><p> We are GenZ and we know that saving money can be tough, 
            but we also know that everything is better with friends. That's why we created Frugal FrenZ
             - a website for friends to save together.</p></p>
            <br></br>
          <h2>Our Mission</h2>  
          <p align="center">FrugalFrenZ is a website that offers a unique approach to achieving your financial goals.
             With our customized payment plan feature, you can choose the frequency and goal that works best for you.
              But that's not all - FrugalFrenZ also connects you with communities, friends, and family to fund a 
              common goal or save together. You can track your progress and see a public leaderboard of others who have 
              achieved their goals using FrugalFrenZ. Plus, you can budget and aspire to your goals all in one place,
               while seeing the contributions and progress of your team.</p>
		
	</main>
</body>
</html>