<!DOCTYPE html>
<html>
<head>
	<title>FrugalFrenZ - FrienZ</title>
	<link rel="stylesheet" type="text/css" href="/static/frienz.css">
</head>
<body>
	<header>
		<nav>
			<ul style="justify-content: flex-end;">
			  <li><a href="/home">Home</a></li>
			  <li><a href="/leadz">LeadZ</a></li>
			  <li><a href="/planz">PlanZ</a></li>
			  <li><a href="/frienz">FrienZ</a></li>
			  <li><a href="/about">About</a></li>
			</ul>
		  </nav>
	</header>
	<main>
		<h1>FrienZ</h1>
		<p>Enter the customer ID of the friend you want to add:</p>
		<form action="/add-friend" method="post">
			<label for="customer_id">Customer ID:</label>
			<input type="text" id="customer_id" name="customer_id" required>
			<button type="submit">Add Friend</button>
		</form>
		{% if friend_added %}
		<p>{{ message }}</p>
		<table>
			<tr>
				<th>Customer ID</th>
				<th>Nickname</th>
			</tr>
			{% for friend_id, friend_nickname in friends.items() %}
			<tr>
				<td>{{ friend_id }}</td>
				<td>{{ friend_nickname }}</td>
			</tr>
			{% endfor %}
		</table>
		{% else %}
		<p>{{ message }}</p>
		{% endif %}
	</main>
	<footer>
		<p>&copy; FrugalFrenZ 2023</p>
	</footer>
</body>
</html>
