<!DOCTYPE html>
<html>
<head>
	<title>FrugalFrenZ - FrienZ</title>
	<link rel="stylesheet" type="text/css" href="/static/frienz.css">
</head>
<body>
	<header>
		<nav>
			<ul style="justify-content: flex-end;">
				<li><a href="/home/{{ _id }}">Home</a></li>			
			  	<li><a href="/leadz/{{ _id }}">LeadZ</a></li>
			  	<li><a href="/planz/{{ _id }}">PlanZ</a></li>
			  	<li><a href="/frienz/{{ _id }}">FrienZ</a></li>
			  	<li><a href="/about">About</a></li>
			  	<li style="float:right"><a href="/logout">Logout</a></li>
			</ul>
		  </nav>
	</header>
	<main class="grid-container">
		<div class="left-half">
		<h1>FrienZ</h1>
		<p>Enter the account ID of the friend you want to add:</p>
		<h1>This is {{ _id }}</h1>
		<form action="/frienz/{{ _id }}" method="post">
			<label for="friend_name">Account ID:</label>
			<input type="text" id="friend_name" name="friend_name" required>
			<button type="submit">Add Friend</button>
		</form>
		<table>
			<tr>
				<th>Friend Name</th>
			</tr>
			{% if friends %}
				{% for friend in friends %}
					<tr>
						<td>{{ friend }}</td>
					</tr>
				{% endfor %}
			{% else %}
				<tr>
					<td>No friends yet</td>
				</tr>
			{% endif %}
		</table>
		
		{% if friend_added %}
			<p>{{ message }}</p>
		{% endif %}
	</div>
	<div class="right-half">
		<img src="/static/frenz_r.png" alt="Description of the image"  align="left">
	</div>	
	</main>
</body>
<footer>
	<h2>Contact Us</h2>
	<ul>
	  <li><i class="fa fa-map-marker"></i>123 Main Street, Atlanta, GA USA</li>
	  <li><i class="fa fa-phone"></i>925-555-388</li>
	  <li><i class="fa fa-envelope"></i>contact@frugalFrenz.com</li>
	</ul>
  <p>&copy; 2023 Frugal FrenZ | All rights reserved.</p>
</footer>
</html>
