<!DOCTYPE html>
<html>
<head>
	<title>Frugal Frenzy</title>
	<link rel="stylesheet" type="text/css" href="/static/home.css">
</head>
<body>
	<header>
		<nav>
			<ul style="justify-content: flex-end;">
				<li><a href="/home/{{ _id }}">Home</a></li>			
			  	<li><a href="/leadz/{{ _id }}">LeadZ</a></li>
			  	<li><a href="/planz/{{ _id }}">PlanZ</a></li>
			  	<li><a href="/frienz/{{ _id }}">FrienZ</a></li>
			  	<li><a href="/about">About</a></li>
			  	<li style="float:right"><a href="/logout">Logout</a></li>
			</ul>
		  </nav>
	</header>
	<main>
		<h1>This is {{ nickname }}</h1>
		<p>Your account balance is ${{ "{:.2f}".format(balance) }}</p>
		<p>Track your savings goals, connect with other frugal folks, and get inspired to save more money than ever before.</p>
		{% if amount_wanted is not none %}
		<div class="savings-tracker">
			<h2>Your Savings Goals</h2>
			<p>Your FrienZ have saved ${{ savings_goal }} of your ${{ amount_wanted }} goal.</p>
			<progress value="{{ savings_goal }}" max="{{ amount_wanted }}"></progress>
			<button>Update Savings</button>
		</div>
		{% else %}
		<div class="no-savings-tracker" style="text-align: center; margin-top: 80px;">
			<h2>Start Your Group Savings Now</h2>
			<p>Take your savings to the next level!</p>
			<p>Start a group with your friends and work together to reach your goals.</p>
			<a href="/planz/{{ _id }}">
				<button style="display: block; margin: 0 auto;">Create Group</button>
			  </a>				  
		</div>
		{% endif %}
	</main>
</body>
<footer>
	<h2>Contact Us</h2>
        <ul>
          <li><i class="fa fa-map-marker"></i>123 Main Street, Atlanta, GA USA</li>
          <li><i class="fa fa-phone"></i>925-555-388</li>
          <li><i class="fa fa-envelope"></i>contact@frugalFrenz.com</li>
        </ul>
      <p>&copy; 2023 Frugal FrenZ | All rights reserved.</p>
</footer>
  
</html>
