<!DOCTYPE html>
<html>
<head>
	<title>Frugal Frenzy</title>
	<link rel="stylesheet" type="text/css" href="/static/home.css">
</head>
<body>
	<header>
		<nav>
			<ul style="justify-content: flex-end;">
			  <li><a href="/home">Home</a></li>
			  <li><a href="/leadz">LeadZ</a></li>
			  <li><a href="/planz">PlanZ</a></li>
			  <li><a href="/frienz">FrienZ</a></li>
			  <li><a href="/about">About</a></li>
			</ul>
		  </nav>
	</header>
	<main>
		<h1>Welcome to Frugal Frenzy!, </h1>
		<p>Track your savings goals, connect with other frugal folks, and get inspired to save more money than ever before.</p>
		<div class="savings-tracker">
			<h2>My Savings Goals</h2>
			<p>You have saved $100 of your $500 goal.</p>
			<progress value="20" max="100"></progress>
			<button>Update Savings</button>
		</div>
	</main>
	<footer>
		<p>&copy; Frugal Frenzy 2023</p>
	</footer>
</body>
</html>
