<!DOCTYPE html>
<html>
  <head>
    <title>FrugalFrienZ - Login</title>
    <link rel="stylesheet" type="text/css" href="/static/index.css">

  </head>
  <body>
    <header>
      <div class="logo">
      </div>
      <nav>
        <ul>
          <li><a href="Home.html">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Meet The TeamZ</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Welcome to FrugalFrienZ!</h1>
      <form method="post" action="/login">
          <label for="customer_id">Customer ID:</label>
          <input type="text" id="customer_id" name="customer_id">
          <button type="submit">Login</button>
      </form>
      <div class="additional-info">
        <h2>Save Money with Friends</h2>
        <a href="Planning/goal.html">
        <p>FrugalFrienZ is the social platform for saving money with friends. Connect with others to share deals and discounts, and track your savings together.</p>
      </div>
    </main>
    <footer>
      <ul>
        <li><a href="#">Terms of Use</a></li>
        <li><a href="#">Privacy Policy</a></li>
      </ul>
      <p>&copy; 2023 FrugalFrienZ. All rights reserved.</p>
    </footer>
  </body>
</html>
