<!DOCTYPE html>
<html>
  <head>
    <title>FrugalFrienZ - Login</title>
    <link rel="stylesheet" type="text/css" href="/static/index.css">

  </head>
  <body>
    <header>
      <div class="logo">
      </div>
      <nav>
        <ul>
          <li><a href="Home.html">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Meet The TeamZ</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Welcome to FrugalFrienZ!</h1>
      <form method="post" action="/login">
          <label for="_id">Customer ID:</label>
          <input type="text" id="_id" name="_id">
          <button type="submit">Login</button>
      </form>
      <div class="additional-info">
        <h2>Save Money with Friends</h2>
        <p>FrugalFrienZ is the social platform for saving money with friends. Connect with others to share deals and discounts, and track your savings together.</p>
      </div>
    </main>
  </body>
  <footer>
        <h2>Contact Us</h2>
        <ul>
          <li><i class="fa fa-map-marker"></i>123 Main Street, Atlanta, GA USA</li>
          <li><i class="fa fa-phone"></i>925-555-388</li>
          <li><i class="fa fa-envelope"></i>contact@frugalFrenz.com</li>
        </ul>
        <h2>Follow Us</h2>
        <ul>
          <li><a href="#"><i class="fab fa-facebook"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          <li><a href="#"><i class="fab fa-youtube"></i></a></li>
        </ul>
      <p>&copy; 2023 Frugal FrenZ | All rights reserved.</p>
  </footer>
  
</html>
