<!DOCTYPE html>
<html>
<head>
	<title>FrugalFrenZ - FrienZ</title>
	<link rel="stylesheet" type="text/css" href="/static/planz.css">
</head>
<body>
	<header>
		<nav>
			<ul style="justify-content: flex-end;">
				<li><a href="/home/{{ _id }}">Home</a></li>			
			  	<li><a href="/leadz/{{ _id }}">LeadZ</a></li>
			  	<li><a href="/planz/{{ _id }}">PlanZ</a></li>
			  	<li><a href="/frienz/{{ _id }}">FrienZ</a></li>
			  	<li><a href="/about">About</a></li>
			  	<li style="float:right"><a href="/logout">Logout</a></li>
			</ul>
		  </nav>
	</header>
    <h1>Your PlanZ</h1>
<p>You have {{ num_friends }} friends.</p>
{% if num_friends == 0 %}
    <button onclick="location.href='/frienz/{{ _id }}'">Add Friends</button>
	<h3>Before You Create A Group, add some FrienZs</h3>
{% elif group %}
<h3>Your Groups:</h3>
<div class="group-container">
		<div class="group">
		  <div class="group-name">{{ group[1] }}</div>
		  <div class="group-info">
			<div class="group-amount">
			  <span class="label">Amount Wanted:</span>
			  <span class="value">{{ group[3] }}</span>
			</div>
			<div class="group-amount">
			  <span class="label">Amount Saved:</span>
			  <span class="value">{{ group[4] }}</span>
			</div>
			<div class="group-amount">
			  <span class="label">Created At:</span>
			  <span class="value">{{ group[5] }}</span>
			</div>
			<div class="group-amount">
			  <span class="label">Time (months):</span>
			  <span class="value">{{ group[6] }}</span>
			</div>
			<div class="group-amount">
			  <span class="label">Estimated Plan:</span>
			  <span class="value">${{ '{:.2f}'.format(group[3] / group[6] / (num_friends+1)) }} per month</span>
			</div>
			<div class="group-amount">
			  <span class="label">First Payment Day:</span>
			  <span class="value">{{ group[7] }}</span>
			</div>
		  </div>
		  <form method="post" style="border: 0; box-shadow: none;   background-color: #f3f3f3; margin: 0px;">
			<input type="hidden" name="group_id" value="{{ group[0] }}">
			<input type="submit" name="delete_group" value="Delete Group">
		  </form>
		</div>
	<h1>Your Payments Due</h1>
	<div class="table-container">
	<table>
	<tr>
		<th>Payment ID</th>
		<th>Amount</th>
		<th>Payment Date</th>
		<th>Action</th>
	</tr>
	{% for payment in payments %}
		<tr>
			{% if payment[2] == _id and payment[5] != '0' %}
				<td>{{ payment[0] }}</td>
				<td>{{ payment[3] }}</td>
				<td>{{ payment[4] }}</td>
				<td>
					<form method="post" style="border: 0; box-shadow: none; margin: 0px;">
						<input type="hidden" name="payment_id" value="{{ payment[0] }}">
						<input type="submit" name="mark_paid" value="Pay">
					</form>
				</td>
			{% endif %}
		</tr>
	{% endfor %}
	</table>
	<h1>Group Payments</h1>
	</div>
	<div class="table-container">
	<table>
	<tr>
		<th>Group ID</th>
		<th>Member ID</th>
		<th>Amount</th>
		<th>Payment Date</th>
		<th>Status</th>
	</tr>
	{% for payment in payments %}
		<tr>
			<td>{{ payment[1] }}</td>
			<td>{{ payment[2] }}</td>
			<td>{{ payment[3] }}</td>
			<td>{{ payment[4] }}</td>
			<td>
				{% if payment[5] == '0' %}
					Paid
				{% else %}
					Not Paid yet
				{% endif %}
			</td>
		</tr>
	{% endfor %}
	</table>
	</div>
</div>  
{% else %}
    <button onclick="location.href='/frienz/{{ _id }}'">Edit Friends</button>
<p>You have not created any groups yet.</p>
<form method="post">
<label for="group_name">Group Name:</label>
<input type="text" id="group_name" name="group_name" required><br><br>
<label for="amount_wanted">Amount Wanted:</label>
<input type="number" id="amount_wanted" name="amount_wanted" required><br><br>
<label for="time_months">Time in Months:</label>
<input type="number" id="time_months" name="time_months" required><br><br>
<label for="first_payment_date">First payment:</label>
<input type="date" id="first_payment_date" name="first_payment_date" required><br><br>
<input type="submit" name="create_group" value="Create Group">
</form>
{% endif %}
</body>
<footer>
	<h2>Contact Us</h2>
	<ul>
	  <li><i class="fa fa-map-marker"></i>123 Main Street, Atlanta, GA USA</li>
	  <li><i class="fa fa-phone"></i>925-555-388</li>
	  <li><i class="fa fa-envelope"></i>contact@frugalFrenz.com</li>
	</ul>
  <p>&copy; 2023 Frugal FrenZ | All rights reserved.</p>
</footer>
</html>