<!DOCTYPE html>
<html>
<head>
    <title>Create a Goal</title>
    <link rel="stylesheet" href="/static/planz.css">
</head>
<body>
	<header>
		<nav>
			<ul style="justify-content: flex-end;">
				<li><a href="/home/{{ _id }}">Home</a></li>			
			  	<li><a href="/leadz/{{ _id }}">LeadZ</a></li>
			  	<li><a href="/planz/{{ _id }}">PlanZ</a></li>
			  	<li><a href="/frienz/{{ _id }}">FrienZ</a></li>
			  	<li><a href="/about">About</a></li>
			  	<li style="float:right"><a href="/logout">Logout</a></li>
			</ul>
		  </nav>
	</header>
    <h1>Your PlanZ</h1>
<p>You have {{ num_friends }} friends.</p>
{% if num_friends == 0 %}
    <button onclick="location.href='/frienz/{{ _id }}'">Add Friends</button>
{% else %}
    <button onclick="location.href='/frienz/{{ _id }}'">Edit Friends</button>
{% endif %}
<h2>Your Groups</h2>
{% if communities %}
<table>
  <thead>
	<tr>
		<th>Group Name</th>
		<th>Amount Wanted</th>
		<th>Amount Saved</th>
		<th>Created At</th>
		<th>Time(months)</th>
		<th>Estimated Plan</th>
		<th>First Payment Day</th>
		<th>Delete Group</th>
	</tr>
  </thead>
  <tbody>
    {% for group in communities %}
	<tr>
		<td>{{ group[1] }}</td>
		<td>{{ group[3] }}</td>
		<td>{{ group[4] }}</td>
		<td>{{ group[5] }}</td>
		<td>{{ group[6] }}</td>
		<td>${{ '{:.2f}'.format(group[3] / group[6] / num_friends) }} per month</td>
		<td>
			<form method="post">
			<input type="hidden" name="group_id" value="{{ group[0] }}">
			<input type="date" name="first_payment_date">
			<input type="submit" name="update_payment_day" value="Update">
			</form>
		</td>
		<td>
			<form method="post">
			<input type="hidden" name="group_id" value="{{ group[0] }}">
			<input type="submit" name="delete_group" value="Delete Group">
			</form>
		</td>
	</tr>
    {% endfor %}
  </tbody>
</table>

{% else %}
<p>You have not created any groups yet.</p>
<form method="post">
<label for="group_name">Group Name:</label>
<input type="text" id="group_name" name="group_name" required><br><br>
<label for="amount_wanted">Amount Wanted:</label>
<input type="number" id="amount_wanted" name="amount_wanted" required><br><br>
<label for="time_months">Time in Months:</label>
<input type="number" id="time_months" name="time_months" required><br><br>
<label for="first_payment_date">First payment:</label>
<input type="date" id="first_payment_date" name="first_payment_date" required><br><br>
<input type="submit" name="create_group" value="Create Group">
</form>
{% endif %}



    <form>
    <h1>Card Information</h1>
        <label for="card_number">Card Number:</label>
        <input type="text" id="card_number" name="card_number"><br><br>

        <label for="expiration_date">Expiration Date:</label>
        <input type="text" id="expiration_date" name="expiration_date"><br><br>

        <label for="cvv">CVV:</label>
        <input type="text" id="cvv" name="cvv"><br><br>

        <input type="submit" value="Submit Payment">
    </form>
</body>
</html>
  <!DOCTYPE html>
<html>
<head>
    <title>User Balance</title>
    <link rel="stylesheet" href="webgoal.css">
</head>
<body>
    <h1>User Balance</h1>

    <p id="balance"></p>
=
</body>
<footer>
	<h2>Contact Us</h2>
	<ul>
	  <li><i class="fa fa-map-marker"></i>123 Main Street, Atlanta, GA USA</li>
	  <li><i class="fa fa-phone"></i>925-555-388</li>
	  <li><i class="fa fa-envelope"></i>contact@frugalFrenz.com</li>
	</ul>
	<h2>Follow Us</h2>
	<ul>
	  <li><a href="#"><i class="fab fa-facebook"></i></a></li>
	  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
	  <li><a href="#"><i class="fab fa-instagram"></i></a></li>
	  <li><a href="#"><i class="fab fa-youtube"></i></a></li>
	</ul>
  <p>&copy; 2023 Frugal FrenZ | All rights reserved.</p>
</footer>

</html>
</html>